/* box-model */
*, 
*:before,
*:after {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid red;
}

.body {
    margin: 0 auto;
}

.
/* font face with */
  @font-face {
    font-family: 'gotham-bold';
    src: url('../fonts/gothambold/gothambold1.eot');
    src: local('gotham-bold'), url('../fonts/gothambold/gothambold1.woff') format('woff');
  }
  
  @font-face {
    font-family: 'gotham-rounded-light';
    src: url('../fonts/Gotham-Rounded-Light/GothamRoundedLight.eot');
    src: local('gotham-rounded-light'), url('../fonts/Gotham-Rounded-Light/GothamRoundedLight.woff') format('woff'), url('../fonts/Gotham-Rounded-Light/GothamRoundedLight.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Helvetica-Neue-Light';
    src: url('../fonts/Helvetica-Neue-Light/HelveticaNeueLight.eot');
    src: local('Helvetica Neue Light'), url('../fonts/Helvetica-Neue-Light/HelveticaNeueLight.woff') format('woff'), url('../fonts/Helvetica-Neue-Light/HelveticaNeueLight.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Helvetica-Neue-Medium';
    src: url('../fonts/Helvetica-Neue-Medium/HelveticaNeueMedium.eot');
    src: local('Helvetica Neue Medium'), url('../fonts/Helvetica-Neue-Medium/HelveticaNeueMedium.woff') format('woff'), url('../fonts/Helvetica-Neue-Medium/HelveticaNeueMedium.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Helvetica-Neue-Bold';
    src: url('../fonts/Helvetica-Neue-Bold/HelveticaNeueBold.eot');
    src: local('Helvetica-Neue-Bold'), url('../fonts/Helvetica-Neue-Bold/HelveticaNeueBold.woff') format('woff'), url('../fonts/Helvetica-Neue-Bold/HelveticaNeueBold.woff2') format('woff2');
  }

  /* customized color */

  :root {
   --redd: #d35266;
   --ash: #888;
   --blacky: #383838; 
  }

  /* custom classes */
  .nav-links {
    font-size: 18px;
    margin: 6px 30px;
    padding: 5px;
    color: var(--ash);
    font-weight: lighter;
  }

  .avatar-icon{
    font-size: 18px;
    font-weight: bold;
    margin: 6px 15px;
    padding: 5px;
    color: #fff;
  }

  .company-font {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding-left: 5px;
    position: relative;
    bottom: 2px;
    font-family: 'gotham-rounded-light';
    
  }
  
  /* customized colors */

  .color-redd {
    color: var(--redd);
  }

  .color-ash {
    color: var(--ash);
  }

  .color-blacky {
    color: var(--blacky);
  }

  .color-whity {
    color: #fff;
  }

  .space-nav {
    padding-left: 5px;
    display: inline-block;
    position: relative;
    font-family: 'gotham-rounded-light';
  }

  .post-add {
    background-color: var(--redd);
    width: 100px;
    height: 30px;
    color: #fff;
    font-weight: bold;
    font-family: 'gotham-rounded-light';
    border-radius: 3px;
  }

  .circle {
    border-radius: 50%;
  }

  .background-red{
    background-color: var(--redd);

  }

  #tiny-mail {
    font-size: 15px;
  }

  .tiny-font {
    font-size: 15px;
  }

  .foreground-avatar{
    z-index: 50;
   position: relative;
   right: 12px;
   bottom: 7px;
  }

  .user-image {
    width: 22px;
  }

  .logo{
    /* width: 10px; */
    height: 18px;
    margin: 1px 5px;
    padding-top: 1px;
  }

  /* header section styling */
  .header-container {
      display: flex;
      flex-direction: column;
      width: 100%;
  }

  .nav-container {
      background-color: var(--blacky);
      display: flex;
      width: 100%; 
      justify-content: space-around;
      flex-wrap: wrap;
  }

  .ul-list{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
  }

  .right-lst {
      display: flex;
      align-self: end;
  }

  .border-test{
     border: 2px solid red;
  }

  /* header-form styling */

  .header-form {
    background-color: var(--redd);
    text-align: center;
    display: ;
  }

  .cp-name {
    color: #fff;
    font-size: 60px;
    padding: 12px;
    margin: 10px;
  }

  .header-form > p {
    font-size: 16px;
    color: #fff;
    padding: 3px;
    margin-bottom: 65px;
  }

  .top-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .drp-dwn-lst-style {
    color: var(--redd);
    font-weight: lighter;
    width: 150px;
  }

  .top-form > * {
    padding: 10px;
    border: 0;
    background: #fff;
    outline: 0;
    border-radius: 0;
    border-right: 1px solid rgba(0,0,0,0.2);
    -webkit-appearance: none;
    margin-bottom: 30px;
  }

  .form-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .form-input {
   width: 400px;
   font-size: 18px;
   text-align: center;
   font-weight: 100;
  }

  .form-button {
    width: 180px;
    margin-left: 7px;
    font-size: 13px;
    background-color: var(--blacky);
    color: var(--ash);
  }

  /* main-section styling */

  .main-container {
    display: flex;
  }

  .lates-add {
    
  }


