/* box-model */
*, 
*:before,
*:after {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid red;
}

.body {
    margin: 0 auto;
}

.
/* font face with */
  @font-face {
    font-family: 'gotham-bold';
    src: url('../fonts/gothambold/gothambold1.eot');
    src: local('gotham-bold'), url('../fonts/gothambold/gothambold1.woff') format('woff');
  }
  
  @font-face {
    font-family: 'gotham-rounded-light';
    src: url('../fonts/Gotham-Rounded-Light/GothamRoundedLight.eot');
    src: local('gotham-rounded-light'), url('../fonts/Gotham-Rounded-Light/GothamRoundedLight.woff') format('woff'), url('../fonts/Gotham-Rounded-Light/GothamRoundedLight.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Helvetica-Neue-Light';
    src: url('../fonts/Helvetica-Neue-Light/HelveticaNeueLight.eot');
    src: local('Helvetica Neue Light'), url('../fonts/Helvetica-Neue-Light/HelveticaNeueLight.woff') format('woff'), url('../fonts/Helvetica-Neue-Light/HelveticaNeueLight.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Helvetica-Neue-Medium';
    src: url('../fonts/Helvetica-Neue-Medium/HelveticaNeueMedium.eot');
    src: local('Helvetica Neue Medium'), url('../fonts/Helvetica-Neue-Medium/HelveticaNeueMedium.woff') format('woff'), url('../fonts/Helvetica-Neue-Medium/HelveticaNeueMedium.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Helvetica-Neue-Bold';
    src: url('../fonts/Helvetica-Neue-Bold/HelveticaNeueBold.eot');
    src: local('Helvetica-Neue-Bold'), url('../fonts/Helvetica-Neue-Bold/HelveticaNeueBold.woff') format('woff'), url('../fonts/Helvetica-Neue-Bold/HelveticaNeueBold.woff2') format('woff2');
  }

  /* customized color */

  :root {
   --redd: #d35266;
   --ash: #888;
   --blacky: #383838; 
  }

  /* custom classes */
  .nav-links {
    font-size: 18px;
    margin: 6px 30px;
    padding: 5px;
    color: var(--ash);
    font-weight: lighter;
  }

  .avatar-icon{
    font-size: 18px;
    font-weight: bold;
    margin: 6px 15px;
    padding: 5px;
    color: #fff;
  }

  .company-font {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding-left: 5px;
    position: relative;
    bottom: 2px;
    font-family: 'gotham-rounded-light';
    
  }
  
  /* customized text-colors  */

  .color-redd {
    color: var(--redd);
  }

  .color-ash {
    color: var(--ash);
  }

  .color-blacky {
    color: var(--blacky);
  }

  .color-whity {
    color: #fff;
  }

  /* customized background */

  .background-redd {
    background-color: var(--redd);
  }

  .background-ash {
    background-color: var(--ash);
  }

  .background-blacky {
    background-color: var(--blacky);
  }

  .background-white {
    background-color: #fff;
  }

  /* customized classes */

  .space-nav {
    padding-left: 5px;
    display: inline-block;
    position: relative;
    font-family: 'gotham-rounded-light';
  }

  .post-add {
    background-color: var(--redd);
    width: 100px;
    height: 30px;
    color: #fff;
    font-weight: bold;
    font-family: 'gotham-rounded-light';
    border-radius: 3px;
  }

  #tiny-mail {
    font-size: 15px;
  }

  .tiny-font {
    font-size: 15px;
  }

  .foreground-avatar{
    z-index: 50;
   position: relative;
   right: 12px;
   bottom: 7px;
  }

  .user-image {
    width: 22px;
  }

  .knob-ad {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1.5px solid var(--ash);
    font-size: 25px;
    background-color: #fff;
  }

  .hot-add-arrow-left,
  .hot-add-arrow-right {
    width: 4%;
  }

  .circle {
    border-radius: 50%;
  }

  .hot-add-title {
    padding: 0 0 1rem 0;
    margin: 0 0 0 15.5vw;
  }

  .width-autor {
    margin-left: auto;
    margin-right: auto;
  }

   /* customized fonts */

   .helv-light {
     font-family: 'Helvetica-Neue-Light';
   }

   .helv-neu-light {
  font-family: 'Helvetica-Neue-Medium';
   }

  .logo{
    /* width: 10px; */
    height: 18px;
    margin: 1px 5px;
    padding-top: 1px;
  }

  /* header section styling */
  .header-container {
      display: flex;
      flex-direction: column;
      width: 100%;
  }

  .nav-container {
      background-color: var(--blacky);
      display: flex;
      width: 100%; 
      justify-content: space-around;
      flex-wrap: wrap;
  }

  .ul-list{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
  }

  .right-lst {
      display: flex;
      align-self: end;
  }

  .border-test{
     border: 2px solid red;
  }

  /* header-form styling */

  .header-form {
    background-color: var(--redd);
    text-align: center;
    display: ;
  }

  .cp-name {
    color: #fff;
    font-size: 60px;
    padding: 12px;
    margin: 10px;
  }

  .header-form > p {
    font-size: 16px;
    color: #fff;
    padding: 3px;
    margin-bottom: 65px;
  }

  .top-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .drp-dwn-lst-style {
    color: var(--redd);
    font-weight: lighter;
    width: 150px;
  }

  .top-form > * {
    padding: 10px;
    border: 0;
    background: #fff;
    outline: 0;
    border-radius: 0;
    border-right: 1px solid rgba(0,0,0,0.2);
    -webkit-appearance: none;
    margin-bottom: 30px;
  }

  .form-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .form-input {
   width: 400px;
   font-size: 18px;
   text-align: center;
   font-weight: 100;
  }

  .form-button {
    width: 180px;
    margin-left: 7px;
    font-size: 13px;
    background-color: var(--blacky);
    color: var(--ash);
  }

  /* main-section hot add styling */

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .lates-add {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .hot-add-main {
    display: flex;
    justify-content: center;
    width: 80%;
  
  }
  
  .hot-add-img {
    width: 400px;
    height: auto;
  }

  .hot-add-arrow {
    width: 5%;
  }

  .hot-add-btns {
   width: 22%;
   height: 10%;
   position: relative;
   z-index: 50;
   left: 315px;
   text-align: center;
  }

  .add-margin {
    margin: 3px;
  }

  .add-pading {   
    padding: 3px;
  }

  .hot-add-article {
    width: 50%;
    padding: 0 0 0 1rem;
  }

  .hot-ad-cred {
    margin: auto 0;
  }

  .hot-add-cred-btns {
    margin: auto 0 0 0;
  }

  .hot-add-cred-btns button:first-child {
    width: 100px;
    padding: 0.7rem 0;
    border-right: 1px solid #000;
  }

  .generic-btn {
    padding: 0.5rem;
    font-size: 15px;
    border-radius: 2px;
  }

  .generic-hover:hover {
    color: var(--redd);
    padding: 0.2rem;
    border: 1px solid var(--redd);
    border-radius: 4px;
    transform: scale(1.3);
    transition: all 0.2 linear;
  }

  /* all customized flex */

  .flex-display {
    display: flex;
  }
  
  .flex-column {
    flex-direction: column;
  }

  .content-justify-center {
    justify-content: center;
  }

  .content-justify-start {
    justify-content: flex-start;
  }

  .content-justify-end {
    justify-content: flex-end;
  }

  .item-align-center {
    align-items: center;
  }


